<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %36.36class{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--logger name="org.kie" level="info"/>
  <logger name="org.drools" level="info"/-->
  <logger name="io.quicksign.drools.server" level="info"/>

  <root level="WARN">
    <appender-ref ref="consoleAppender" />
  </root>

</configuration>
